/* Global Style */
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
}
h1, h2 {
    margin: 0;
    font-family: 'Bellota', cursive;
    color: skyblue;
}
/* Header Section */
header{
    background: url("../images/sky.jpg") no-repeat top center;
    background-size: cover;
    padding: 10px 0;
}