/* Global Style */
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
}
h1, h2 {
    font-family: 'Bellota', cursive;
}
header h1, header h2 {
    margin: 0;
   
    color: skyblue;
}
.banner-image{
    width: 600px;
    height: 500px;;
}
img {
    width: 300px;
}
.col-wide {
    float: left;
    width: 60%;
    min-height: 175px;
}
.col-narrow{
    float: right;
    width: 30%;
    min-height: 175px;
}
/* Header Section */
header{
    background: url("../images/sky.jpg") no-repeat top center;
    background-size: cover;
    padding: 10px 0;
}
nav{
    background: black;
    padding: 15px;
    
}
nav a {
    text-decoration: none;
    color: white;
    margin-right: 40px; 
    padding: 15px;
}
nav a:hover {
    background: lightblue;
}